{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Алыкул Осмонов</title>
	<link rel="icon" href="{% static 'main/img/logo_burkut.png' %}" type="image/png">
	<link rel="shortcut icon"
	href="{% static 'main/img/logo_burkut2.png' %}"
	type="image/x-icon">
</head>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<body>
	<header>
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'main/img/logo_burkut.png' %}" width="100" height="70" class="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="icons">
				<a href="http://instagram.com/share.php?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-instagram"></i></a>
				<a href="http://facebook.com/share.php?u=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-facebook"></i></a>
				<a href="https://telegram.me/share/url?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-telegram"></i></a>
				<a href="http://whatsapp.com/share.php?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-whatsapp"></i></a>
			  </div>
				<nav class="navbar navbar-light bg-light">
				  <form class="form-inline">
					<input class="form-control mr-sm-2" type="search"  aria-label="Search" style="width: 300px;">
                  <a href="#" type="search"><i class="fa-solid fa-magnifying-glass"></i></a>
				  </form>
				</nav>
			  <div class="langWarp" style="margin-left: 100px;">
					<a href="#" language="english">EN</a>
					<a href="#" language="russia">RU</a>
					<a href="#" language="kyrgyz">KG</a>
			  </div>
			</nav>
		</div>
		<!-- Menu -->

		<nav class="page__menu menu">
			<ul class="menu__list r-list" style="margin-left: 100px;">
			  <li class="menu__group"><a href="{% url 'home' %}" class="menu__link r-link text-underlined">Башкы-Бет</a></li>
			  <li class="menu__group"><a href="{% url 'kitepter' %}" class="menu__link r-link text-underlined">Китептер</a></li>
			  <li class="menu__group"><a href="{% url 'belgiluu-insandar' %}" class="menu__link r-link text-underlined">Белгилүү инсандар</a></li>
			  <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Биз жөнүндө</a></li>
			</ul>
		</nav>

	<!-- Menu -->
	</header>
		<div class="img-text-body" style="margin: 20px; margin-left: 140px;">
			<img src="https://i.mycdn.me/i?r=AyH4iRPQ2q0otWIFepML2LxRnauAc6o_LMhLcWdeqPAjoQ" width="200" height="200" style="">
			<h1 style="margin-left: 210px; margin-top: -200px; position: absolute; font-size: 20px;">
                Алыкул Осмонов - <small>1915-жылы төрөлгөн.Ал кыргыз элинин алгачкы жазма акындарынын эң ири өкүлдөрүнүн бири. Жаштайынан томолок жетим калып, Токмок балдар үйүндө тарбияланат. Мына ушул жерде адабий китептерге өтө кызыгып, өз алдынча ыр жазып баштайт.
                14 жашында Фрунзе педагогикалык техникумга кирип 1928 – 1933-жж. окуйт. Ал жакта адабий ийримдерге катышып, орустун белгилүү жазуучуларынын чыгармалары менен таанышат.
                1930-жылы "Сабаттуу бол" гезитинин сентябрь айындагы санында биринчи жолу "Кызыл жүк" деген ыры басылып, адабий тушоосу кесилет. Ушундан баштап анын ырлары гезит, журналдарга үзбөй жарыяланат. 1933-жылы техникумду бүткөндөн тартып, ал биротоло чыгармачылыктын артынан түшөт. Дүйнөлүк адабияттын мыкты үлгүлөрүн үзбөй окуп, билимин, тажрыйбасын тереңдетет.
                Алыкул 1938-жылы 9-апрелде СССР Жазуучулар союзунун мүчөлүгүнө өткөн. 1950-жылы Москвада орус тилинде жарык көргөн "Мой дом" аттуу ырлар жыйнагы адабият боюнча Сталиндик сыйлыктын талапкерлигине көрсөтүлгөн.</small>
            </h1>
			<h5 style="position: absolute; margin-left: 40px; margin-top: 10px;">(1915-1950)</h5>
            <p style="margin-top: 40px;">"Ленинчил жаш" гезитинде, "Чабуул" журналында иштеген. Кийин акындын бир нече ырлар жыйнагы басмадан жарык көргөн. Оригиналдуу акындык жүзү 1945-жылы чыккан "Махабат" аттуу жыйнагынан таасын көрүнгөн. Акындын поэтикалык жеңиши менен эстетикалык принциптери "Жаңы ырлар", "Менин жерим — ырдын жери", "Ата журт" жыйнактарында дагы бекемделген. Бул жыйнактар кыргыз поэзиясын мурда болбогон реалисттик жаңы табылгалар, терең философиялык мазмун менен байыткан.

Алыкул Осмонов 1935-1950-жылдар аралыгында ондон ашык ыр китептердин ээси болду. "Таңдагы ырлар", "Жылдыздуу жаштык", "Чолпонстан", "Махабат", "Жаңы ырлар", "Менин жерим — ырдын жери" деген жыйнактары жарык көрдү. "Мой дом" аттуу ырлар жыйнагы 1950-жылы Москвадан орус тилинде басылды. Бул китеп жалпы союздук окурмандар тарабынан жылуу кабыл алынып, акындын атагын алыска таратты.

Кыргыз фольклоруна кайрылып, аларды кайрадан иштеп чыгуу боюнча да көп эмгектенген. Балдар адабиятына кошкон салымы чоң. Мындан сырткары, чоң котормочу экендигин дагы көрсөттү. Пушкиндин "Евгений Онегин", Крыловдун тамсилдерин, Шекспирдин "Он экинчи түн", "Отелло" трагедиясын, Шота Руставелинин "Жолборс терисин жамынган баатыр" жана башка авторлордун чыгармаларын кыргыз тилине которгон. Ошондой эле, бир нече драмаларды жаратты. Көптөгөн ырларына обондор жаралды. Калемдеш жана замандаштарына караганда Алыкул Осмоновдун таланты да, тагдыры да бөлөкчө. "Кудайга миң мертебе калп айтса да, ырына миң мертебе калп айта албаган" бул акын өзүнүн керемет поэзиясы менен адамдардын жүрөгүнө жашоонун не бир ажайып сулуулугун, кымбаттыгын жеткире алган. Алыкул өз өмүрүн ырсыз элестете алган эмес. Ошондуктан өмүрүнүн акырына чейин поэзияны ыйык туткан. Кудурети күчтүү табияттан анын сураганы да бир гана нерсе эле. Ал ыр болчу:
<br><br>
Мен турмушта сараң, ачкөз эмесмин,<br>
Өктөө кылып: "Ай, аз бердиң", — дебесмин. <br>
Байлык, үй-жай, ден соолуктан ардактуу, <br>
Мага берсе, эки сабак ыр берсин. <br><br>
Осмоновдун акындык жана адамдык сапатын мына ушул төрт сап ыр эле аныктай алат. Ал өмүр бою бул шертинен тайган жок. Улуу адам кайталангыс таланты менен өзүн өлбөс кылып жаратат. Алыкул да ошондой таланттардын катарына кирет.
				<br><br>

Бар бололу, түгөнбөйлү, курдаштар, <br>
Узак, узак, узак болсун бул сапар. <br>
Кылым бүтүп, дүйнөдөн жок болсок да, <br>
Кайра кайтып жолугушчу жолдор бар. <br>
Менин күнүм өлбөсүнө түңүлбөйт, <br>
Толкун урса тайызына сүрүлбөйт. <br>
Тирүүлүктө жоктугуна жол бербей, <br>
Жер түбүндө чирисе да, бир гүлдөйт. <br>
<br><br>
Акындын бир нече жыйнактары, поэмалары жана балдарга арналган чыгармалары орус, англис, эстон, казак тилдерине которулуп, төрт ыры япон тилиндеги "Дүйнөлүк акындар" альманахына кирген.
Ошондой эле, анын чыгармалары орто мектептерде, жогорку окуу жайларда кеңири окутулат. Өмүрү, чыгармачылыгы боюнча көптөгөн адабий, публицистикалык жана илимий эмгектер, китептер жазылуу менен кыргыз адабият тарыхында Алыкул таануу багыты улам кеңири кулач жайган.
Алыкулдун айрым чыгармалары табышмактуу сөздөрдү камтыганын байкоого болот. Профессор Осмонакун Ибраимов акындын табышмактуу сырлары боюнча бир катар пикирлерин айтып чыккан. Анын айтымында Алыкул Осмоновдун чечиле элек сыры — анын саясатка болгон мамилеси. Акын аттуунун баары жабыла партияны, Ленин менен Сталинди асман-айга теңеп ырдап жаткан мезгилде Алыкул дээрлик үн каткан эмес. Учур саясатын же жакшы, же жаман дебей, негизинен түбөлүктүү темаларды жазган.
"А бирок суроо туулат: Касым Тыныстанов атылып, кыргыздын нечен мыктылары дайынсыз жок болуп кеткен катаал заманды Алыкул укпадыбы, көрбөдүбү? Же көрсө да көрмөксөнгө салдыбы? Бул табышмактуу чоң суроо. Жок, көрсө Алыкул баарын көрүп, баарын сезиптир, нечен түйшөлүптүр, бирок бороон-чапкындуу каар заманды ачык публицистиканын тили менен эмес, Эзоптун тили менен, метафоранын тили менен, каймана образ жана салыштыруулар менен так да, даана да кылып ачып бериптир", — дейт професссор Осмонакун Ибраимов.
<br><br>
Айрыкча "Ата Журт" деген ырда Алыкул замандын портретин абдан эле элестүү жана жеткиликтүү кылып берген:
<br><br>
Жылуу кийин, жолуң кыйын үшүүрсүң,<br>

Кыш да катуу бороон улуп, кар уруп…<br>

Суугуңду өз мойнума алайын,<br>

Жол карайын, токтой турчу, Ата Журт!<br>

Жазда башка жел тийбесин абайла,<br>

Көпкө турбас мобул турган сур булут.<br>

Бүт дартыңды өз мойнума алайын,<br>
Сен ооруба, мен ооруюн, Ата Журт!<br>
Түндөр жаман кырсык салып кетпесин,<br>
Наалат келип, ат тизгинин шарт буруп…<br>
Азабыңды өз мойнума алайын,<br>
Из карайын, токтой турчу, Ата Журт!<br>
Жазда башка жел тийбесин абайла,<br>
Көпкө турбас мобул турган сур булут.<br>
Бүт дартыңды өз мойнума алайын, <br>
Сен ооруба, мен ооруюн, Ата Журт!<br>

<br><br>

"Кыштын катуу", "жолдун кыйын" болуп турганы, "түндөр жаман", "жаз да башка" экендиги, заман оорлоп, асманды "сур булут" каптап тургандыгы — абдан күчтүү тартылган заман портрети, мезгил сүрөтү. Мактоо эмес, сындоо. Бул ыр 1948-жылы, башкача айтканда Сталиндик репрессиянын экинчи толкуну башталып жаткан кезде, Т.Саманчин, Т.Байжиев, З.Бектенов "Манас" эпосу үчүн камакка алынып, саясат катуулап, заман чын эле сурданып турган кезде жазылганын эскерте кетели. Демек ал саясатты да жазган, бирок элчилеп ураалаган эмес, тескерисинче, абдан кооптонгонун, дагы кандай заман болуп кетет деп чочулаганын жогорудагыдай метафоралардын, символдордун, тереңге катылган коддордун тили менен жазган. Бул боюнча Осмонакун Ибраимов чыгармаларын терең изилдеп ушундай пикирге келген.

Улуттук сөз өнөрүнүн бүгүнкүсү менен эртеңкиси туурасында ойлонуу, өзүнө талап коюу А.Осмоновду көп нерсеге милдеттендирди. Ошондуктан мурдагы жазгандары такыр жакпай, өз жараткандарын өзү жериди. Нечен толгонуудан кийин басмага даярдаган ырларынын жаңы жыйнагын өрттөп да жиберди. Бул үчүн чоң жүрөк, ашкере баатырдык керек эле. Алыкулда андай касиет, сапаттардын баары бар болчу. Анын чыгармачылыгынын бурулуш учуру да дал ушул жылдарга туура келди. Бирок ажал ач колун сунуп, өлүм жакындап, суусу түгөнө берди. Көзү өткөндөн кийин, 1964-1967-жылдары чыгармаларынын үч томдугу жарык көрдү. 1984-1986-жылдары ырлары, котормолору, поэмалары менен драмалары кайрадан үч томго топтоштурулду.

1988-жылы Бишкектеги №68 мектепке, 1990-жылы №9 китепканага акындын ысымы ыйгарылган. Кыргызстанда жалпысынан 20га жакын мектеп, тоо чокусу (4060м) жана бир кемеге Алыкулдун ысымы ыйгарылган. А.Осмоновдун алтымыштан ашык ырларына обон чыгарылып, М.Убукеев, Л.Турусбекова, С.Ишенов сыяктуу кинорежиссерлор акын тууралуу тасма тартышкан. 1986-жылы Кыргызстан улуттук жазуучулар союзу Алыкул Осмонов атындагы адабий сыйлыкты жана жаштар арасында жыл сайын өтүүчү "Алыкулдун Акбозат" поэзия майрамын уюштурган.

Сыйлыктары. "Ардак белгиси" ордени (1938-ж), "1941–1945-жж. Улуу Ата Мекендик согуш мезгилиндеги каарман эмгеги үчүн" медалы менен (1946-ж) сыйланган. 1967-жылы Кыргызстан Ленин комсомолу сыйлыгынын №1 лауреаттык күбөлүгү ыйгарылган.

Ашкере айкөл, ташкындаган таланттын туз-насиби 35 жылга гана өлчөнгөн экен.

Залкар акын 1950-жылы 12-декабрда дүйнө салган.
</p>
        </div>
	<!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted">
	  <!-- Section: Social media -->
	  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
		  <span>Get connected with us on social networks:</span>
		</div>
		<!-- Left -->

		<!-- Right -->
		<div>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-facebook-f"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-twitter"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-google"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-instagram"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-linkedin"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-github"></i>
		  </a>
		</div>
		<!-- Right -->
	  </section>
	  <!-- Section: Social media -->

	  <!-- Section: Links  -->
	  <section class="">
		<div class="container text-center text-md-start mt-5">
		  <!-- Grid row -->
		  <div class="row mt-3">
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			  <!-- Content -->
			  <h6 class="text-uppercase fw-bold mb-4">
				<i class="fas fa-gem me-3"></i>Company name
			  </h6>
			  <p>
				Here you can use rows and columns to organize your footer content. Lorem ipsum
				dolor sit amet, consectetur adipisicing elit.
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">
				Products
			  </h6>
			  <p>
				<a href="#!" class="text-reset">Angular</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">React</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Vue</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Laravel</a>
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">
				Useful links
			  </h6>
			  <p>
				<a href="#!" class="text-reset">Pricing</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Settings</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Orders</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Help</a>
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
			  <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
			  <p>
				<i class="fas fa-envelope me-3"></i>
				info@example.com
			  </p>
			  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
			  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
			</div>
			<!-- Grid column -->
		  </div>
		  <!-- Grid row -->
		</div>
	  </section>
	  <!-- Section: Links  -->

	  <!-- Copyright -->
	  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright:
		<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>
</html>