{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Бүбүсара Бейшеналива</title>
	<link rel="shortcut icon"
	href="{% static 'main/img/logo_burkut2.png' %}"
	type="image/x-icon"></head>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<body>
	<header>
		<div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'main/img/logo_burkut.png' %}" width="100" height="70" class="logo">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="icons">
				<a href="http://instagram.com/share.php?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-instagram"></i></a>
				<a href="http://facebook.com/share.php?u=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-facebook"></i></a>
				<a href="https://telegram.me/share/url?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-telegram"></i></a>
				<a href="http://whatsapp.com/share.php?url=file:///home/bakdoolot/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/OUR%20SITE/bishkek.html"><i class="fa-brands fa-whatsapp"></i></a>
			  </div>
				<nav class="navbar navbar-light bg-light">
				  <form class="form-inline">
					<input class="form-control mr-sm-2" type="search"  aria-label="Search" style="width: 300px;">
                  <a href="#" type="search"><i class="fa-solid fa-magnifying-glass"></i></a>
				  </form>
				</nav>
			  <div class="langWarp" style="margin-left: 100px;">
					<a href="#" language="english">EN</a>
					<a href="#" language="russia">RU</a>
					<a href="#" language="kyrgyz">KG</a>
			  </div>
			</nav>
		</div>
		<!-- Menu -->

		<nav class="page__menu menu">
			<ul class="menu__list r-list" style="margin-left: 100px;">
			  <li class="menu__group"><a href="{% url 'home' %}" class="menu__link r-link text-underlined">Башкы-Бет</a></li>
			  <li class="menu__group"><a href="{% url 'kitepter' %}" class="menu__link r-link text-underlined">Китептер</a></li>
			  <li class="menu__group"><a href="{% url 'belgiluu-insandar' %}" class="menu__link r-link text-underlined">Белгилүү инсандар</a></li>
			  <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Биз жөнүндө</a></li>
			</ul>
		</nav>

	<!-- Menu -->
	</header>
		<div class="img-text-body" style="margin: 20px; margin-left: 140px;">
			<img src="https://data.kaktus.media/image/big/2016-05-06_11-29-05_537862.jpg" width="200" height="200" style="">
			<h1 style="margin-left: 210px; margin-top: -200px; position: absolute; font-size: 20px;">
                Бүбүсара Бейшеналиева - <small>атактуу балерина, кыргыз хореографиясын негиздөөчүлөрдүн бири.

                1936-41-ж. Ленинград хореографиялык окуу жайында окуган.

                1941-жылы Кыргыз мамлекетинде

                опера жана балет театрынын солисти.

                1949-жылдан Бишкектеги хореографиялык окуу жайынын педагогу. Сахнада В. Ференин “Селкинчек” (1943, балетмейстер Л. М. Крамеревский) балетинде Зайнуранын ролун аткаруу менен зор бийчилик жөндөмү, профессионалдык даярдыгы бар экенин көрсөткөн .

                Ал катышкан “Чолпон” балет-фильми дүйнөнүн көптөгөн өлкөсүндө коюлган.

                Бий өнөрүндө көптөгөн образдарды жараткан.

                Кыргыз ССР эл артисти (1954), СССР эл артисти (1958).

                СССР Жогорку Советинин (1962-70), Кыргыз ССР Жогорку Советинин депутаты (1955-62).

                Кыргыз Республикасынын Токтогул атындагы мамлекеттик сыйлыгынын лауреаты(1970). Эмгек Кызыл Туу, “Ардак Белгиси” ордендери жана медалдар менен сыйланган.

                Көрүнүктүү орус балеринасы Агриппин Ваганованын жетекчилиги астында окуган. Чоң театрда 1939-жылы өзүнүн чыгармачылыгын эл алдында көрсөтө алган.

                1941-жылы Ленинграддагы хореографиялык окуу жайын бүтүргөндөн кийин Кыргыз опера жана балет театрына солистка болуп кирген. Кыргыздын улуттук “Чолпон”, ”Анар” партияларын аткарган. Орус чыгармаларынан “Лебединое озеро”, ”Красный мак”, ”Спящая красавица” аттуу балетердин партияларын аткарган.
            </small>
            </h1>
			<h5 style="position: absolute; margin-left: 40px; margin-top: 10px;">(1926-1958)</h5>
            <p style="margin-top: 40px;">
                Балеттик партиялар

                1943 — «Селкинчек» В. Власов жана В. Фере — Зайнура<br>
                1944 — «Чолпон» М. Раухвергер — Чолпон<br>
                1947 — «Раймонда» А. Глазунов — Раймонда<br>
                1949 — «Бахчисарай фонтаны» Б. Асафьев — Мария жана Зарема<br>
                1950 — «Ак куулар көлү (Лебединое озеро)» П. Чайковский — Одетта-Одиллия<br>
                1950 — «Анар» В. Власов жана В. Фере — Анар<br>
                1953 — «Кызыл кызгалдак» Р. Глиэр — Тао-Хоа<br>
                1953 — «Чолпон» М. Раухвергер — Айдай<br>
                1955 — «Эсмеральда» Ц. Пуна — Эсмеральда<br>
                1956 — «Уктап жаткан сулуу (Спящая красавица)» П. Чайковский — Аврора<br>
                1960 — «Куйручук» К. Молдобасанов жана Г. Окунев — Зейнеп<br>
                1962 — «Ромео жана Джульетта» С. Прокофьев — Джульетта<br>
                «Асел» В. Власов — Асел<br>
                «Корсар» А. Адан — Медора<br>
                «Ала-Тоодогу жаз» В. Власов жана В. Фере — Сайра<br>
                «Франческа да Римини» Б. Асафьев — Франческа<br>
                «Чоң вальс» И. Штраус — Фанни<br>
                «Лауренсия» А. Крейн — Лауренсия<br>
                «Дон Кихот» Л. Минкус — Китри<br>
                «Болеро» М. Равелдин музыкасына — Солистка<br>
                Фильмография
                <br><br>
                1959 — «Чолпон — таң жылдызы» (фильм-балет) — Айдан.
                Сыйлыктары жана наамдары
                <br><br>
                Кыргыз ССРнин эмгек сиңирген артисти (1947)<br>
                Кыргыз ССРнин эл артисти (1954)<br>
                СССРдин эл артисти (1958)<br>
                Токтогул Сатылганов атындагы мамлекеттик сыйлыгы (1970)<br>
            </p>
        </div>
	<!-- Footer -->
	<footer class="text-center text-lg-start bg-light text-muted">
	  <!-- Section: Social media -->
	  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
		<!-- Left -->
		<div class="me-5 d-none d-lg-block">
		  <span>Get connected with us on social networks:</span>
		</div>
		<!-- Left -->

		<!-- Right -->
		<div>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-facebook-f"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-twitter"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-google"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-instagram"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-linkedin"></i>
		  </a>
		  <a href="" class="me-4 text-reset">
			<i class="fab fa-github"></i>
		  </a>
		</div>
		<!-- Right -->
	  </section>
	  <!-- Section: Social media -->

	  <!-- Section: Links  -->
	  <section class="">
		<div class="container text-center text-md-start mt-5">
		  <!-- Grid row -->
		  <div class="row mt-3">
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
			  <!-- Content -->
			  <h6 class="text-uppercase fw-bold mb-4">
				<i class="fas fa-gem me-3"></i>Company name
			  </h6>
			  <p>
				Here you can use rows and columns to organize your footer content. Lorem ipsum
				dolor sit amet, consectetur adipisicing elit.
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">
				Products
			  </h6>
			  <p>
				<a href="#!" class="text-reset">Angular</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">React</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Vue</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Laravel</a>
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">
				Useful links
			  </h6>
			  <p>
				<a href="#!" class="text-reset">Pricing</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Settings</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Orders</a>
			  </p>
			  <p>
				<a href="#!" class="text-reset">Help</a>
			  </p>
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
			  <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
			  <p>
				<i class="fas fa-envelope me-3"></i>
				info@example.com
			  </p>
			  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
			  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
			</div>
			<!-- Grid column -->
		  </div>
		  <!-- Grid row -->
		</div>
	  </section>
	  <!-- Section: Links  -->

	  <!-- Copyright -->
	  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		© 2021 Copyright:
		<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
</body>
</html>